<mat-card class="login-page" style="margin: 0 1rem">
  <mat-card-title>Edit Customer</mat-card-title>
  <mat-card-content>

  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let question of questions" class="form-row">
      <crm-question [question]="question" [form]="form"></crm-question>
    </div>

    <div class="form-row">
      <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary">Submit</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
  </mat-card-content>
</mat-card>

